.login-container {
    margin: 0 auto;
    width: 500px;

    & .login-title {
        float: left;
        width: 100%;
        color: #000;
        font-size: 26px;
        margin-bottom: 15px;
        text-align: center;
    }

    & .lgn-button {
        float: left;
        width: 100%;
        height: 56px;
        background: #f06;
        color: #fff;
        border: 0;
    }
}
